@mixin photos-container($gap, $columnsNumber, $tileHight, $titleBackground: '') {
    width: 100%;
    overflow: hidden;
    margin-bottom: $gap*(-1);
    -webkit-column-count: $columnsNumber;
    -webkit-column-gap: $gap;
    -webkit-column-fill: auto;
    -moz-column-count: $columnsNumber;
    -moz-column-gap: $gap;
    -moz-column-fill: auto;
    column-count: $columnsNumber;
    column-gap: $gap;
    column-fill: auto;

    .title {
        width: 100%;
        position: absolute;
        bottom: 0;
        padding: $gap/2;
        background: $titleBackground;
        opacity: 0.5;
    }
  
    .item {
      margin-bottom: $gap;
      position: relative;
      -webkit-column-break-inside: avoid;
      -moz-column-break-inside: avoid;
      column-break-inside: avoid;
      overflow: hidden;
      min-height: $tileHight;
      &:hover {
        opacity: 0.8;
      }
  
      img {
        max-width: 100%;
        height: auto;
        border-radius: 2px;
      }
    }
  }
  
  